body{
    background-color: coral;
}
#image {
            width: 100%;
            /* z-index: 4; */
        }
 #text {
        /*border: solid 2px black;*/
        color: blue;
        font-style: bold;
        text-align: center;
        position: absolute;
        top: 50%;
        right: 60%;
        font-size: 3em;

        }

    .container1{
        display: flex;
        border: solid 2px black;
        }
.container{
    background-color: black;
    height: 40px;
    width: 97%;
    border: 2px solid blue;
    display: flex;
    padding-left: 3%;/*to move box bit right side*/
    border-radius: 2em;

}
.container a{
    text-decoration: none;/*to remove blue underline*/
    color: white;
}
.box{
    
    display: flex;
    justify-content: center;/*to move words at center*/
    margin: 5px;
    padding: 5px;
    height: 20px;
    width: fit-content;
}
/*input{
    border: 2px solid black;
    border-radius: 5px;
    
    
}
.search{
    padding-left: 10px;
    display: flex;
    
}*/

.header{
    color: rgb(7, 7, 109);
    font-size: 1.5fem;
}
.text{
    font-size: 2em;
}/*
.grid{
    display: grid;
    max-width: 960;
    margin: 0 auto;
}*/



#pic-1 {
    width: 70%;
    height: 30%;
}
#pic-2 {
    width: 30%;
    height: 70%;
}
.grid{
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 
    'p1 p1 p1 p1 p1 p1 p1 p2 p2 p2 '
    'p3 p3 p3 p4 p4 p4 p4 p2 p2 p2 '
    'p3 p3 p3 p5 p5 p5 p5 p5 p5 p5 ';
}
.pic{
    border: 2px solid black;
    padding: 5em;
}

#p1{
    grid-area: p1;
}
#p2{
    grid-area: p2;
}
#p3{
    grid-area: p3;
}
#p4{
    grid-area: p4;
    
}
#p5{
    grid-area: p5;
}
#pic-1{
    height: 200px;
    width: 466.67px;
}
#pic-2{
    height: 466.67px;
    width: 200px;
}
#pic-3{
    height: 466.67px;
    width: 200px;
}
#pic-5{
    height: 200px;
    width: 466.67px;
}
.footer{
    background-color: rgb(50, 50, 187);
    border: 3px solid rgb(2, 6, 26);
    display: flex;
    flex-direction: column;

}
.foot{
    color: whitesmoke;
    padding: auto;
    margin: 3px;
}


